<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FlipkartAutomation">
<listeners>
<listener class-name="utilities.Reporting"/>
</listeners>
<parameter name="browser" value="chrome"/>
<parameter name="url" value="BASE"/>
<test name="Flipkart" group-by-instances="true">
<!-- <groups>	
<run>	
 <include name="functional" />	
 </run>	
 </groups>	 -->
<classes>
<class name="testCases.TC_Profile"/>
<!-- <class name="testCases.TC_SelectProduct"/>
<class name="testCases.TC_ManageAddress"/> -->
</classes>
</test>
</suite>



