<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmartRisk">
<listeners>
<listener class-name="utilities.Reporting"/>
</listeners>
<test name="SmartRisk">
<parameter name="browser" value="firefox"/>
<classes>
<class name="testCases.TC_LoginTest_001"/>
<class name="testCases.TC_OverviewMap"/>
<class name="testCases.TC_OverviewDashboard"/>
</classes>
</test>
</suite>


